<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601408664475-7h3n7nno1rr6fb8taft4g35u4ls7jtlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601408664475-7h3n7nno1rr6fb8taft4g35u4ls7jtlt</string>
	<key>API_KEY</key>
	<string>AIzaSyC-ZvJpA_uRtqSUxEd9_vLumr7kX0RBo-c</string>
	<key>GCM_SENDER_ID</key>
	<string>601408664475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.virtus.elite</string>
	<key>PROJECT_ID</key>
	<string>eva---elite-virtus-academia</string>
	<key>STORAGE_BUCKET</key>
	<string>eva---elite-virtus-academia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601408664475:ios:31d70588d2f282ed00273e</string>
</dict>
</plist>